 p {
color:black;
font-size:101%;
}

ul {
font-size:130%;
}

#killua{
color:#48EDFF;
}
#oliver{
    color:#48EDFF;
}
#long {
color: #48EDFF;
}
    
#sss {

top: 50px;  
}
#kartinka {
    left: 150;
}
#photo {
    left:150;
}
